{
  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs/nixos-unstable";
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    nix-doom-emacs-unstraightened = {
      url = "github:marienz/nix-doom-emacs-unstraightened";
      inputs = {
      };
    };
  };

outputs = { self, nixpkgs, home-manager, ... }@inputs:
  let
    system = {{ if eq .chezmoi.os "linux" }}"x86_64-linux"{{ else if eq .chezmoi.os "darwin" }}"aarch64-darwin"{{ end }};
    myUser = "{{ .chezmoi.username }}";
    pkgs = import nixpkgs {
      inherit system;
      config.allowUnfree = true;
    };
  in {
    homeConfigurations.{{ splitList "@" .chezmoi.username | first }} = home-manager.lib.homeManagerConfiguration {
      inherit pkgs;
      modules = [
        ./home.nix
      ];
      extraSpecialArgs = { inherit inputs myUser; };
    };
  };
}
