{ pkgs, ... }:
{
  home.username = "fcharih";
  home.homeDirectory = {{ if eq .chezmoi.os "darwin" }}"/Users/fcharih"{{ else if eq .chezmoi.os "linux" }}"/home/fcharih"{{ else }}"/home/fcharih"{{ end }};
  home.stateVersion = "24.11";

  home.packages = with pkgs; [
    ripgrep
    fd
    htop
    jq
    fzf
    neovim
    uv
    zsh
    eza
    azure-cli
    azure-storage-azcopy
    starship
    oh-my-zsh
    _1password-cli
    chezmoi
    gh
    mise
    podman
  ];


  programs.git.settings = {
    enable = true;
    userName = "Francois Charih";
    userEmail = "francois@charih.ca";
  };

  programs.home-manager.enable = true;
programs.zsh = {
  enable = true;
    initContent = ''
# Global
export EDITOR=nvim
export TERM=xterm-256color

# Environment variables
for f in $HOME/.tokens/*; do source "$f"; done

export PATH=$PATH:$HOME/.local/bin
export PATH=$PATH:$HOME/.cargo/bin
export PATH=$PATH:$HOME/.environment/commands
export PATH=$PATH:$HOME/.environment/commands
export PATH=$PATH:$HOME/.environment/commands/nuvobio

if [[ "$OSTYPE" == "darwin"* ]]; then
  export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
fi

# Pythonpath
export PYTHONPATH=$PYTHONPATH:$HOME/.environment/python

# Aliases
alias vim="nvim"
alias ls='eza'
alias rsync='rsync --progress -v' # always use verbose mode
alias activate='source .venv/bin/activate' # always use verbose mode

# Fetch git repos with CLI when using Cargo
export CARGO_NET_GIT_FETCH_WITH_CLI=true

eval "$(starship init zsh)"
eval "$(mise activate zsh)"

. $HOME/.nix-profile/bin
. $HOME/.francois.env
    '';
  oh-my-zsh = {
    enable = true;
    plugins = [ "git" "sudo" "docker" ];
    theme = "robbyrussell";
  };
};
}
