{ pkgs, ... }:
{
  home.username = "fcharih";
  home.homeDirectory = {{ if eq .chezmoi.os "darwin" }}"/Users/fcharih"{{ else if eq .chezmoi.os "linux" }}"/home/fcharih"{{ else }}"/home/fcharih"{{ end }};
  home.stateVersion = "24.11";

  home.packages = with pkgs; [
claude-code

    ripgrep
    fd
    htop
    jq
    fzf
    neovim
    uv
    zsh
    eza
    azure-cli
    azure-storage-azcopy
    starship
    oh-my-zsh
    _1password-cli
    chezmoi
    gh
    mise
    podman
    podman-compose
    buildah
    skopeo
  ];

  programs.home-manager.enable = true;
}
