[git]
    autoCommit = true
    autoPush = true

[onepassword]
    mode = "account"

[data]
    environment = "{{ env "ENVIRONMENT" }}"

[hooks.read-source-state.pre]
script = "hooks/pre-source-read.sh"

[hooks.read-source-state.post]
script = "hooks/post-source-read.sh"

[hooks.apply.pre]
script = "hooks/pre-apply.sh"

[hooks.apply.post]
script = "hooks/post-apply.sh"

[hooks.add.pre]
script = "hooks/pre-add.sh"

[hooks.add.post]
script = "hooks/post-add.sh"