[git]
    autoCommit = true
    autoPush = true

[onepassword]
    mode = "account"

[data]
    environment = "{{ env "ENVIRONMENT" }}"

[hooks.read-source-state.pre]
script = "{{ .chezmoi.sourceDir }}/dot_chezmoihooks/pre-source-read.sh"

[hooks.read-source-state.post]
script = "{{ .chezmoi.sourceDir }}/dot_chezmoihooks/post-source-read.sh"

[hooks.apply.pre]
script = "{{ .chezmoi.sourceDir }}/dot_chezmoihooks/pre-apply.sh"

[hooks.apply.post]
script = "{{ .chezmoi.sourceDir }}/dot_chezmoihooks/post-apply.sh"

[hooks.add.pre]
script = "{{ .chezmoi.sourceDir }}/dot_chezmoihooks/pre-add.sh"

[hooks.add.post]
script = "{{ .chezmoi.sourceDir }}/dot_chezmoihooks/post-add.sh"
