# OP token
export OP_SERVICE_ACCOUNT_TOKEN={{ onepasswordRead "op://Keys and Tokens/gxvdffoj6i7igxqjbros44jcsq/credential" }}

# Claude OAuth token
export CLAUDE_CODE_OAUTH_TOKEN={{ onepasswordRead "op://Keys and Tokens/Claude Code OAuth Token/token" }}

# Pushover tokens
export PUSHOVER_USER={{ onepasswordRead "op://Keys and Tokens/Pushover/username" }}
export PUSHOVER_TOKEN={{ onepasswordRead "op://Keys and Tokens/Pushover/credential" }}
