# Claude OAuth token
export CLAUDE_CODE_OAUTH_TOKEN={{ onepasswordRead "op://Keys and Tokens/Claude Code OAuth Token/token" }}

# Pushover tokens
export PUSHOVER_USER={{ onepasswordRead "op://Keys and Tokens/Pushover/username" }}
export PUSHOVER_TOKEN={{ onepasswordRead "op://Keys and Tokens/Pushover/credential" }}

# My Azure service principal
export AZURE_SUBSCRIPTION_ID={{ onepasswordRead "op://NuvoBio - Azure/fcharih - Service Principal/subscription id" }}
export AZURE_CLIENT_ID={{ onepasswordRead "op://NuvoBio - Azure/fcharih - Service Principal/client id" }}
export AZURE_CLIENT_SECRET={{ onepasswordRead "op://NuvoBio - Azure/fcharih - Service Principal/client secret" }}
export AZURE_TENANT_ID={{ onepasswordRead "op://NuvoBio - Azure/fcharih - Service Principal/tenant id" }}
