{{ if eq .environment "nuvobio" -}}
export AZURE_CLIENT_ID={{ onepasswordRead "op://NuvoBio/srfjpf6poeil7meaeptfcgrfxq/client id" }}
export AZURE_CLIENT_SECRET={{ onepasswordRead "op://NuvoBio/srfjpf6poeil7meaeptfcgrfxq/client secret" }}
export AZURE_TENANT_ID={{ onepasswordRead "op://NuvoBio/srfjpf6poeil7meaeptfcgrfxq/tenant id" }}
{{ end -}}
