{{ if eq (env "ENVIRONMENT") "nuvobio" }}
export AZURE_CLIENT_ID={{ onepasswordRead "op://NuvoBio/fihwtuhcmf357iam3bpo4dtkru/client id" }}
export AZURE_CLIENT_SECRET={{ onepasswordRead "op://NuvoBio/fihwtuhcmf357iam3bpo4dtkru/client secret" }}
export AZURE_TENANT_ID={{ onepasswordRead "op://NuvoBio/fihwtuhcmf357iam3bpo4dtkru/tenant id }}
{{ end }}
